[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
commoners_auction = "EWXiRHrYNtMy6wXQsy2oZhops6Dsw5M4GT59Bqb3xPjC"

[programs.devnet]
commoners_auction = "EWXiRHrYNtMy6wXQsy2oZhops6Dsw5M4GT59Bqb3xPjC"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
